

/*Kevin Van den Daele*/

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 4rem;
    margin: 4rem;
    background-color: var(--blue);
    border-radius: 2rem;
    font-size: x-large;
    overflow: hidden
}

#box{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2rem;
}

#imageBox{
    margin-left:auto;
    margin-right:auto;
}

input[type=submit], button {
    width: 20%;
    padding: 1.2rem 2rem;
    display: inline-block;
    background-color: var(--pink);
    border: 0.1rem solid var(--white);
    border-radius: 0.8rem;
    box-sizing: border-box;
    min-width: 20rem;
    float: right;
}

p{
    margin-top:0px;
}

#box #imageBox {

    padding-right:24px;
    height: 300px;
}

#box #imageBox img {
    max-height: 100%;
}


#boxItems{
    width:60%;
}

@media screen and (max-width: 750px) {
    #boxItems ul li{
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {

    h1 {
        font-size: 18px;
    }

    form div {
        margin: 0rem;
    }

    .container-main {
        padding: 0rem 0rem 0rem 0rem;
    }

    button {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {

    #boxItems {
        font-size: 12px;
    }

    #coach #imageCoach {
        margin-left: auto;
        margin-right: auto;
    }

    p {
        font-size: 18px;
    }
}

@media screen and (max-width: 550px) {

    h1{
        font-size: 18px;
    }

    p{
        margin-top:12px;
    }

    footer {
        display: block;
    }

    footer img {
        margin-top: 2rem;
    }

    #box{
        display:inline;
    }


    #box #imageBox {
        margin-left: auto;
        margin-right: auto;
        padding-right: 0px;
    }

    #box #imageBox img{
        display:block;
        
        margin-left:auto;
        margin-right:auto;
    }

    #box #boxItems{
        margin-left:auto;
        margin-right:auto;
    }

    #boxItems ul li {
        font-size: 12px;
    }

    p{
        font-size: 15px;
    }
}