html{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 62.5%;
}
.container-main{
    margin: 0 auto;
    padding: 0.3rem 1rem 0.3rem 1rem;
    max-width: 1280px;
    font-size: 1.8rem;
}
.bigCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 1rem;
    text-align: left;
    background-color: #73A0DC;
    border-radius: 2rem;
}

form.sideBySide{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-row-gap: 2rem;
    grid-column-gap: 8rem;
}
