html{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 62.5%;
}
body {
    background-image: url("../assets/Achtergrond patronen blauw 2.png");
    margin: 0 auto;
}
:root {
    --blue: #73A0DC;
    --blueTR: rgb(115, 160, 220,0.7);
    --white: #ffffff;
    --pink: #C978B1;
    --pinkTR: rgba(201, 120, 177,0.7);
    --black: #000000;
    --error-color: rgb(200,0,0);
    --button-hover-color: #915680;
}
/*classes*/
.container-main{
    margin: 0 auto;
    padding: 5rem 5rem 5rem 5rem;
    max-width: 1280px;
    font-size: 1.8rem;
}
.bigCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 4rem;
    margin: 4rem;
    text-align: left;
    background-color: var(--blue);
    border-radius: 2rem;
    font-size: x-large;
}

/*form.labelNextInput{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-row-gap: 2rem;
    grid-column-gap: 6rem;
}*/
.aboveUnder{
    display: flex;
    flex-direction: column;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 2rem;
    background-color: var(--blue);
    border-radius: 2rem;
    font-size: x-large;
}
.cardInRow {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1280px) {
    .cardInRow
    {
        flex-wrap: wrap;
    }
}
.containerDeBox{
    border: solid var(--blue) 2rem;
    border-radius: 5rem;
    padding: 3rem;
}
.containerDeBox h1{
    color: var(--white);
    text-align: center;
    display: block;
    background-color: var(--blue);
    margin:1rem -3rem;
}
.containerDeBoxCard {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin: 2rem;
    text-align: left;
    background-color: var(--blue);
    border-radius: 2rem;
    font-size: x-large;
}
.containerDeBoxCard:first-child{
    flex-direction: row-reverse;
}
.containerDeBoxCard:nth-last-child(2){
    flex-direction: row-reverse;
}
.containerDeBoxCard img{
    margin: 2rem;
}
/*buttons*/
.button{
    background-color: var(--pink);
    color: var(--white);
    text-decoration: none;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 5rem;
}
.btnRegistreer {
    font-size: x-large;
}
.btnLogin {
    font-size: x-large;
    padding: 1rem 3rem;
}
/*components*/
h1{
    color: var(--white);
    font-size: 3rem;
}
/*Header*/
header {
    width: 100%;
    overflow: hidden;
    padding: 2rem 0 2rem 0;
    color: var(--pink);
    background-image: linear-gradient(to top, rgba(115, 160, 220,0.2), rgb(255, 255, 255));

}
header a:first-child{
    display: flex;
    justify-content: center;
}
header img{
    padding-right: 5rem;
}
header nav ul{
    padding: 0;
    display: flex;
    justify-content: space-around;;
}
header nav ul li {
    list-style: none;
}
header nav ul li a{
    font-size: xx-large;
    padding: 2rem;
    list-style:none;
    color: inherit;
    border-radius: 8rem;
}
header nav ul li a:hover,header nav ul li a:focus {
        transition: 0.7s ease-out;
        color: var(--white);
        background-color: var(--blueTR);
}
header nav a{
    text-decoration: none;
    color: inherit;
}
header .active{
    border-radius: 8rem;
    background-color: var(--blueTR);
    color: var(--white);
}
/*Footer*/
footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding-left: 2rem;
    bottom: 0;
    width: 100%;
    background-color: var(--pink);
    color: var(--white);
    text-align: center;
    font-size: medium;
}
footer div{
    padding: 1rem;
}
footer a:first-child{
    padding-top: 2.5rem;
}
/*Mobile*/
@media screen and (max-width: 750px) {
    header nav ul{
        flex-direction: column;
    }
    header img{
        padding-right: 0;
    }
    .cardInRow {
        flex-direction: column;
    }

}

/*Form*/
.formCard{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 4rem;
    margin: 4rem;
    text-align: left;
    background-color: var(--blue);
    border-radius: 2rem;
}
input[type=text],input[type=number]{
    width: 100%;
    padding: 1.2rem 2rem;
    margin: 0.8rem 0;
    display: inline-block;
    border: 0.1rem solid var(--white);
    border-radius: 0.8rem;
    box-sizing: border-box;
    min-width: 20rem;
}
fieldset > ul{
    list-style: none;
}
input[type=submit], button{
    width: 100%;
    padding: 1.2rem 2rem;
    display: inline-block;
    background-color: var(--pink);
    border: 0.1rem solid var(--white);
    border-radius: 0.8rem;
    box-sizing: border-box;
    min-width: 20rem;
}
input[type=radio], input[type=checkbox]
{
    width: 1.5rem;
    cursor: pointer;
}
input[type=radio]+label, input[type=checkbox]+label{
    display: inline;
    cursor: pointer;
}
label>abbr.required{
    color: var(--error-color);
    text-decoration: none;
}
legend>abbr.required{
    color: var(--error-color);
    text-decoration: none;
}
label{
    color: var(--white);
}
form div{
    margin: 2rem;
}
form div label, form div legend{

    color: var(--white);
    font-size: x-large;
}
fieldset{
    border: none;
    margin: 0;
    padding: 0;
}